html {
  max-width: 100vw;
  max-height: 100vh;
}
body {
  background-color: #f7f8fa;
  font-family: "Poppins", sans-serif;
  height: 100vh;
  width: 100vw;
  color: #46444c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* .sidenav {
  padding-top: 50px;
} */
